{% extends 'base.html' %}

{% block content %}
<h1 class="text-center">Delete Task</h1>
<div class="row justify-content-center">
    <div class="col-md-6">
        <p>Are you sure you want to delete "{{ task.title }}"?</p>
        <form method="post">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger btn-block">Delete</button>
        </form>
        <a href="{% url 'task_list' %}" class="btn btn-secondary btn-block">Cancel</a>
    </div>
</div>
{% endblock %}
